body {
	background-color: #3D3D3D;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div.queue-item { 
	border: solid #000 1px;
	background-color: black;
	color: white;
	padding: 10px;
	box-shadow: 1px;
}

div.queue { 
	color: black;
}
div.queue h4{
    color: #c2c2c2; 
}

div.main-row {

}

div.resource {
	color: white;

}

div.time-widget {
	color: yellow;
}
