<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/static/css/base.css">
		<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/loader.js"></script>
	</head>
	<body>
		{% block content %}
		{% endblock %}
	</body>
</html>
