{% extends "base.html" %}

{% block title %}Party Mode{% endblock %}
{% block content %}

<div class="container">
        <div class="row">
            <div id='time-widget'> </div>
        </div>
	<div class="row timer-row">
		<div class="col-xs-12 timer">
			<div id='time-widget' class='time-widget'></div>
		</div>
	</div>
	<div class="row main-row">
		<div class="col-xs-8 resource">
			<div id='resource_content'>
			</div>
			<div id='resource_title'>
				<h1></h1>
			</div>
		</div>
		<div class="col-xs-3 queue">
			<h4>upcomming items</h4>
			<ul id="queue" class="list-group">
				Queue
			</ul>
		</div>
	</div>
</div>

{% endblock %}
